html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

.header_div {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: -webkit-fill-available;
    top: 0;
    background: #ffffff;
    transition: height .4s ease, opacity .3s ease;
    z-index: 1;
}

.header_logo {
    cursor: pointer;
    position: inherit;
    left: 3%;
}

.header_btn {
    padding: 0 15px 0 15px !important;
    color: #50250C !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.active_link {
  color: #60A725 !important;
}

#burger-button {
    color: #50250C;
}

#burger-button:hover,
.header_btn:hover {
    color: #60A725 !important;
}

.component_div {
    height: auto;
}

.footer_logo {
    filter: grayscale(100%)
}

.footer_container {
    position: inherit;
    width: -webkit-fill-available;
    height: auto;
    color: #E2DFD2;
    background-color: #5E5A50;
    clear: both;
    bottom: 0;
}

.footer {
    padding: 20px;
    padding-bottom: 40px;
}

.burger_option {
    display: none;
}

@media screen and (max-width: 820px) {
    .header_page_options {
        display: none;
    }

    .burger_option {
        display: inline;
    }
}

.copyright_div {
    background-color: #454036;
    width: -webkit-fill-available;
    text-align: center;
    color: #E2DFD2;
    font-size: 12px;
    padding: 5px;
}

.developed_by_div {
    width: inherit;
    height: inherit;
}

.developed_by_content {
    position: absolute;
    right: 10px;
    margin-left: 20px;
}

.footer .grid_item {
    align-self: flex-start;
    margin: 20px 0px;
}

.footer_title {
    font-size: 16px;
    font-weight: 600;
}

.footer_text {
    font-size: 16px;
    line-height: 1.5;
}

.footer_icon {
    vertical-align: middle
}



/* Customized scroll bar style */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #454036;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5E5A50;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E2DFD2;
}