.slide_left {
    width:100%;
    overflow:hidden;
    white-space: nowrap;
    margin: 25% 0;
    text-align: center;
  }
  
  .slide_left .green_text {
    font-size: 5vw;
    color: #60A725;
    animation: slide_left 20s;
  }
  
  @keyframes slide_left {
    from {
      margin-left: 100%;
      width: 100%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }